
@media all and (max-width: 900px){
    /* Partie header */
    body{
        width: 100%;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: all 2s;
    }
    header{
        margin: 5px 20px;
       /* border: 1px solid black;*/
        width: 95%;
        height: 17vh;
        padding: 2px;
        border-radius: 5px;
        box-shadow: -5px 3px 3px rgba(255, 255, 255, 0.5),2px 2px 3px rgba(0, 0, 0, 0.5);
    }
    header div.container{
        margin:0;
        width: 95%;
        height: 17vh;
        /*border: 1px solid black;*/
    }
    header div.logo{
        width: 10vw;
        margin: auto;
        height: 12vh;
    }
    header div.logo:hover{
        cursor: pointer;
        background-color: #f9004d;
        color: white;
    }
    div.contenu ul{
        flex-direction: column;
        align-items: flex-end;
        margin: 5px;
        height: 15vh;
        /*border: 1px solid black;*/
    }
    div.contenu ul li a:hover{
        color: rgba(0, 0, 0, 0.85);
        border-left: 2px solid #f9004d;
        transition: all 2s;
    }
    /* Partie s1 */
    section.s1 div.s1-content {
        width: 100%;
        flex-direction: column;
    }
    section.s1 div.s1-content div.bloc1{
        margin: 10px 20px;
        width: 85%;
    }
    section.s1 div.s1-content div.bloc1 h2{
        word-spacing: 5px;
    }
    section.s1 div.s1-content div.image{
       
       /* border: 1px solid black;*/
        width: 100%;
    }
    section.s1 div.s1-content div.image img{
        width: 80%;
        margin: 10px auto;
    }
    /* Partie s2*/
    section.s2{
        margin: 10px 20px;
    }
    section.s2 div.conteneur{
        width: 100%;
        flex-direction: column;
    }
    section.s2 div.conteneur div.content{
        width: 95%;
        height: 43vh;
        padding: 0;
        border-radius: 15px;
       /* border: 1px solid black;*/
    }
    section.s2 div.conteneur div.content:hover{
        background: #f1afc3;
    }
    
    section.s2 div.conteneur div.content div.circle{
        width: 8vw;
        
        padding: 0;
    }
    section.s2 div.conteneur div.content p{
        width: 60%;
        margin: auto;
    }
/* Partie s3*/
    section.s3 {
        width: 90%;
        margin: 10px 20px;
       /* border: 1px solid black;*/
    }
    section.s3 div.s3-content {
        width: 95%;
        height: 50vh;
       /* border: 1px solid black;*/
    }
    section.s3 div.s3-content div.text{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section.s3 div.s3-content div.text p{
        width: 80%;
        margin: auto;
    }
    section.s3 div.s3-content div.img img{
        display: none;
    }
    /* Partie s4*/
    section.s4{
        margin: 10px 20px;
        width: 100%;
    }
    section.s4 div.s4-content{
        flex-direction: column;
        width: 100%;
    }
    section.s4 div.s4-content div.s4-bloc{
        margin: 10px 20px;
        /*border: 1px solid black;*/
        width: 85%;   
        height: 55vh;
        padding: 0;
       
    }
    /* Partie form-box*/
    div.form-box{
        width: 93%;
        background-color: gray;
        margin: 10px 20px;
       /* border: 1px solid black;*/
        padding: 0;
    }
    div.form-box div.form{
        width: 85%;
        /*border: 1px solid black;*/
        height: 85vh;
    }
    div.form-box div.form div.input-box {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
       /* border: 1px solid black;*/
       
    }
    div.form-box div.form div.input-box div.input1,div.form-box div.form div.input-box div.input2{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%; 
    }
    div.form-box div.form div.input-box div.input1 input{
        width: 75vw;
    }
    div.form-box div.form div.input-box div.input2 input.sujet,div.form-box div.form div.input-box div.input2 textarea{
        width: 75vw;
    }
    div.form-box div.form div.input-box div.input2 button{
        margin: auto;
        width: 55vw;
        margin-bottom: 15px;
    }
    div.form-box div.form div.imag img{
        display: none;
    }
}
